$colorPrimary :#f4f4f4;
$colorsecondery:#202020;
$colortrendy:#d2a56d;


@media only screen and (max-width: 600px) {
  header .header-greeting {
    margin: 0 1em;
  }

  .btn {
    padding: 10px;
  }
}


@media only screen and (min-width: 601px) and (max-width: 960px) {
  header .header-greeting {
    margin: 0 5em;
  }

  .btn {
    padding: 15px 30px;
  }
}


@media only screen and (min-width: 961px) {
  header .header-greeting {
    margin: 0 30em;
  }

  .btn {
    padding: 10px 30px;
  }
}

body {
  background-color:$colorPrimary;
}

.btn {
  background-color: $colorPrimary;
  border: 1px $colortrendy solid;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: $colortrendy;
}

header div p {
  font-size: 14px;
}

header div h1 {
  color: $colortrendy;
}

a {
  text-decoration: none;
  color: $colorPrimary;
}

.material-symbols-outlined {
  color: $colorPrimary; 
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 50;
}
